:root {
    --wrapper-width: 1400px;
}
body {
    font-family: 'Arial', sans-serif;
}

#app {
    max-width: 400px;
    margin: 20px auto;
}
.title {
    font-family: cursive;
    color: rgb(119, 59, 136);
    padding: 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #434141;
    border-radius: 4px;
}

.todo-item.done {
    text-decoration: line-through;
    color: #888;
}
input[type='text'] {
    width: 60%;
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 30px;
}

button {
    padding: 8px;
    cursor: pointer;
}
